html {
  padding: 0;
}
body {
  font-size: 8pt;
  padding: 0;
  margin: 0;
}
table {
  font-size: inherit;
}
div {
  padding: 0;
  margin: 0;
}

/* layout */
.table-top, .table-bottom {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  width: 100%;
}
.table-top td, .table-bottom td {
  vertical-align: top;
}
.table-top {
  border-bottom: 1px solid black;
}
.cell-assembly {
  width: 60%;
}
.cell-registers {
  border-left: 1px solid black;
  width: 40%;
}

/* style */
.assembly, .registers, .memory {
  font-family: monospace;
  font-size: inherit;
  border-spacing: 0;
  margin: 1em;
}
.assembly {
  margin-left: 0;
}
.assembly td, .registers td, .memory td {
  padding: 0 0.5em;
}
.assembly .active {
  background: rgb(150,255,255);
}
.assembly .col-address, .memory .col-address {
  color: gray;
}
.assembly .col-label {
  color: gray;
}
.assembly .breakpoint-marker {
  width: 1em;
  height: 1em;
}
.assembly .breakpoint-marker.active {
  background-color: red;
  border-radius: 50%;
}
