<html>
  <head>
    <title>gdbweb</title>
    <script src='https://fb.me/react-0.13.2.js'></script>
    <script src='https://fb.me/JSXTransformer-0.13.2.js'></script>
    <script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js'></script>
    <link rel='stylesheet' type='text/css' href='/static/style.css'></style>
  </head>
  <body>
    <div id='content'></div>
    <script type='text/jsx' src='/static/main.jsx'></script>
  </body>
</html>
